<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>CComEX | Notícias</title>
</head>
<body>
    <nav class="navbar">
        <strong>EXÉRCITO BRASILEIRO</strong>
        <div>
            <a href="/">Início</a>
            <% if (user) { %>
                <a href="/logout">Sair (<%= user.login %>)</a>
            <% } else { %>
                <a href="/login">Entrar</a>
                <a href="/cadastro">Cadastrar</a>
            <% } %>
        </div>
    </nav>
    <div class="container">
        <h1>Informativos Oficiais</h1>
        <% noticias.forEach(n => { %>
            <div class="card-noticia">
                <h2><%= n.titulo %></h2>
                <p><%= n.subtitulo %></p>
                <div class="assinatura">Autor: <%= n.autor %> | CComEX</div>
            </div>
        <% }) %>
    </div>
</body>
</html>
