<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Portal CComEX</title>
</head>
<body>
    <nav class="navbar">
        <strong style="font-size: 1.5rem;">CComEX</strong>
        <div>
            <a href="/">Home</a>
            <% if (user) { %>
                <% if (user.cargo === 'Criador' || user.cargo === 'Administrador') { %>
                    <a href="/admin" style="color: var(--shelby-gold);">ADMIN</a>
                    <a href="/publicar" style="color: var(--shelby-gold);">POSTAR</a>
                <% } %>
                <a href="/logout">Sair</a>
            <% } else { %>
                <a href="/login">Entrar</a>
            <% } %>
        </div>
    </nav>

    <div class="container">
        <% noticias.forEach(n => { %>
            <div class="card-noticia">
                <h2 style="margin:0;"><%= n.titulo %></h2>
                <p style="color: #666;"><%= n.subtitulo %></p>
                <a href="/materia/<%= n.id %>" style="color: var(--eb-oliva); font-weight: bold;">Ler mais...</a>
                
                <% if (user && (user.cargo === 'Criador' || user.cargo === 'CComEX')) { %>
                    <form action="/admin/excluir-noticia/<%= n.id %>" method="POST">
                        <button type="submit" class="btn-deus">🗑️ APAGAR MATÉRIA</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    </div>
</body>
</html>
