<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Publicar</title>
</head>
<body>
    <div class="container">
        <h1>Nova Matéria</h1>
        <form action="/publicar" method="POST">
            <input type="text" name="titulo" placeholder="Título" required><br>
            <input type="text" name="subtitulo" placeholder="Subtítulo" required><br>
            <textarea name="conteudo" placeholder="Texto da notícia" required style="height:200px; width:100%"></textarea><br>
            <button type="submit">Publicar Oficialmente</button>
        </form>
    </div>
</body>
</html>
